@model AddBookFormModel

@{
    ViewData["Title"] = "Add Book";
}
<!--<a href="/">
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">Add Book</h2>



    </div>
</div>
 </a> -->  


<h2 class="heading-margin text-center">Add Book</h2>

<form method="post">
  <div class="col-md-6">
    <label asp-for="BookTitle"></label>
    <input asp-for="BookTitle" class="form-control" placeholder="Some book ....">
    <span asp-validation-for="BookTitle" class="small text-danger"></span>
  </div>
  
  <div class="col-md-6">
    <label asp-for="Author"></label>
    <input asp-for="Author" class="form-control" placeholder="Yordan Yordanov ....">
    <span asp-validation-for="Author" class="small text-danger"></span>
  </div>

  <div class="col-md-6">
    <label asp-for="ImageUrl"></label>
    <input asp-for="ImageUrl" class="form-control" placeholder="Your URL ....">
    <span asp-validation-for="ImageUrl" class="small text-danger"></span>
  </div>

  <div class="col-md-6">
    <label asp-for="PublishingHouse"></label>
    <input asp-for="PublishingHouse" class="form-control" placeholder="Some Publisher ....">
    <span asp-validation-for="PublishingHouse" class="small text-danger"></span>
  </div>


  <div class="col-md-6">
    <label asp-for="Rating"></label>
    <input asp-for="Rating" class="form-control" placeholder="Some book ....">
    <span asp-validation-for="Rating" class="small text-danger"></span>
  </div>
  
  <!--<a href="/">
  <div class="col-md-6">
    <label asp-for="Description"></label>
    <textarea asp-for="Description" rows="4" class="form-control" placeholder="Some book ...."></textarea>
    <span asp-validation-for="Description" class="small text-danger"></span>
  </div>
  </a> -->

  <div class="col-md-6">
    <label asp-for="Description"></label>
    <input asp-for="Description" class="form-control" placeholder="Some book ....">
    <span asp-validation-for="Description" class="small text-danger"></span>
  </div>


   <div class="form-group">
    <label asp-for="GenreId"></label>
    <select asp-for="GenreId" class="form-control">
            @foreach (var genre in Model.Genres)
            {
                <option value="@genre.Id">@genre.Name</option>
            }
    </select>
    <span asp-validation-for="GenreId" class="small text-danger"></span>
   </div>

   <div class="mb-4"></div>

  <input class="btn btn-primary" type="submit" value="Save"/>
</form>


